<html>
    <head>
        {% if title %}
        <title>{{ title }} - CodingNomads Mentor Portal</title>
        {% else %}
        <title>CodingNomads Mentor Portal</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/c3d3349a2c.js" crossorigin="anonymous"></script>
        <!-- TODO: move this to CSS file -->
        <style>
            .fa-circle {
                color: lightgray;
            }
            .checked {
                color: orange;
            }
        </style>
    </head>
    <body>
        <div>
            Navigation:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container-fluid">
            <div class="alert alert-warning">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

        {% block content %}{% endblock %}

        </div>
    </body>
</html>