<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - CodingNomads Mentor Portal</title>
        {% else %}
        <title>CodingNomads Mentor Portal</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/c3d3349a2c.js" crossorigin="anonymous"></script>
        <!-- TODO: move this to CSS file -->
        <style>
            .fa-circle {
                color: lightgray;
            }
            .checked {
                color: #007bff;
            }
            .mentor-card, .student-card {
                border: lightgray 1px solid;
                border-radius: 10px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
    <nav id="topnav" class="navbar navbar-expand-lg mb-5 navbar-light bg-light">
      <a class="navbar-brand" href="#">Mentor Platform</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
        </ul>
        <span class="navbar-text ml-auto">
          Welcome {{ current_user.first_name }} {{ current_user.last_name }}
        </span>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">(logout)</a>
          </li>
        </ul>
      </div>
    </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container-fluid">
            <div class="alert alert-warning">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

        {% block content %}{% endblock %}

        </div>
    </body>
</html>