<html>
    <head>
        {% if title %}
        <title>{{ title }} - CodingNomads Mentor Portal</title>
        {% else %}
        <title>CodingNomads Mentor Portal</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div>
            Navigation:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container-fluid">
            <div class="alert alert-warning">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

        {% block content %}{% endblock %}

        <hr>
        <h1>Log Support</h1>
        <form action="{{url_for('student.log_support_student', student_id=form.student_id)}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.mentor_id.label }} {{ form.mentor_id() }}</p>
            <p>{{ form.student_id.label }} {{ form.student_id() }}</p>
            <p>{{ form.support_type.label }} {{ form.support_type() }}</p>
            <p>{{ form.time_spent.label }} {{ form.time_spent() }}</p>
            <p>{{ form.notes.label }} {{ form.notes(size=128) }}</p>
            <p>{{ form.comprehension.label }} {{ form.comprehension() }}</p>
            <p>{{ form.submit() }}</p>
        </form>

        </div>
    </body>
</html>