{% extends 'base.html' %}

{% block content %}
    <div>
    <h1>Support Log for Student #{{ student_id }}</h1>
    {% for log in logs %}
    <div class="card">
      <div class="card-header">
        {{ log.created_at.strftime('%Y-%m-%d %H:%M') }}
      </div>
      <div class="card-body pb-5">
        <h5 class="card-title">{{ log.support_type.capitalize() }} - {{ log.time_spent }} min</h5>
        <p class="card-text">{{ log.notes }}</p>
          <div>Comprehension:
              {% for point in range(log.comprehension) %}
                <span class="fa fa-circle checked"></span>
              {% endfor %}
              {% for empty in range(5-log.comprehension) %}
                <span class="fa fa-circle"></span>
              {% endfor %}
          </div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}