{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="mb-5">
        <p class="text-muted text-right">Welcome {{ current_user.first_name }} {{ current_user.last_name }}</p>
        <div class="row mb-4">
            <div class="col-auto mx-3">
                <a class="row" href="https://codingnomads-chat.slack.com/team/{{ student.slack }}" target="_blank"><i class="fab fa-slack fa-5x"></i></a>
                <a class="row" href="mailto:{{ student.email }}" target="_blank"><i class="far fa-envelope fa-5x"></i></a>
            </div>
            <div class="col-8">
                <h1 class="display-2 text-center">{{ student.first_name }} {{ student.last_name }} <a href="https://platform.codingnomads.co/learn/user/profile.php?id={{ student.user_id }}" target="_blank" class="text-muted">({{ student.learning_platform }})</a></h1>
                {% for course in student.courses %}
                <a href="https://platform.codingnomads.co/learn/report/outline/user.php?id={{ student.user_id }}&course={{ course.id }}&mode=outline" target="_blank">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ course.progress_percent|int }}%;" aria-valuenow="{{ course.progress_percent }}" aria-valuemin="0" aria-valuemax="100">{{ course.progress_percent }}%</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="col">
                <p class="time">
                <script>
                    // adds information about current time of the student
                    var element = document.currentScript.parentElement;
                    var today = new Date();
                    var timestring = today.toLocaleTimeString('en-US', { timeZone: '{{ student.time_zone }}', hour: '2-digit', minute: '2-digit' });
                    element.innerHTML = timestring + ' ({{ student.time_zone }})';
                </script>
                </p>
                <table class="table table-sm table-borderless small">
                    <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for day in student.preferred_days.items() %}
                        {% if day[1] %}
                            <tr>
                                <td>{{ day[0] }}</td>
                                <td>{{ student.preferred_start_time }}</td>
                                <td>{{ student.preferred_end_time }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0"><strong>Aims:</strong> "{{ student.aims }}"</p>
            <footer class="blockquote-footer"><strong>Learning Style:</strong> {{ student.preferred_learning }}</footer>
        </blockquote>
    </div>
    </div>

    <div class="container">
        <div class="mb-4">
            <h2 class="display-4"><a href="http://0.0.0.0:5000/student/{{ student.id }}/progress">Progress</a></h2>
            <hr>
        </div>
        <div class="mb-4">
            <h2 class="display-4"><a href="http://0.0.0.0:5000/student/{{ student.id }}">Notes</a></h2>
            <hr>
        </div>

            {% for note in notes %}
            <div class="card mb-4">
                <div class="card-body">
                <div class="row">
                    <div class="col">{{ note.text }}</div>
                    <div class="col text-right text-muted">
                        <p>{{ note.timestamp }}</p>
                        {% if note.mentor_id != student.mentor_id %}
                            <p class="small"><strong>Mentor:</strong> {{ note.mentor_id }}</p>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}

        <div class="mb-4">
            <h2 class="display-4"><a href="http://0.0.0.0:5000/student/{{ student.id }}/logs">Support Logs</a></h2>
            <hr>
        </div>
    </div>
{% endblock %}